/* 
	CSS style for SliTaz GNU/Linux *book.
	Pankso 2007 - www.slitaz.org
*/

html {
	height:  102%;
}

body {
	font: 13px sans-serif, vernada, arial;
	background: #ffffff;
	color: black;
	margin: 0;
}

#header {
	background: #f0ba08 url(images/css/header.png) repeat-x top;
	color: black;
	height: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#header h1 {
	padding: 10px;
}

#quicknav {
	text-align: right;
	font-size: 12px;
	color: #666666;
	background-color: #eaeaea;
	padding: 4px 2px;
	font-weight: bold;
}

#quicknav a {
	color: #0F314E;
	background: inherit;
	text-decoration: none;
	padding: 0px 2px;
}

#quicknav a:hover {
	color: #DF8F06;
	text-decoration: none;
}

/*  content. */

#content {
	padding: 20px;
	margin: 0px 50px 0px 50px;
	width: auto;
	text-align: justify;
}

#content li {
	line-height: 1.5em;
	text-align: left;
}

/*  Footer. */

#footer {
	font-size: 11px;
	color: black;
	height: 20px;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	width: auto;
	text-align: center ;
}

#footer a {
	background: #ffffff;
	color: #0F314E;
}

#footer a:hover {
	background: #ffffff;
	color: blue;
}

/* Legal informations */

#copy {
	font-size: 11px ;
	text-align: center ;
	background: transparent;
	color: #a8a8a8;
	padding-top: 10px;
}

#copy a {
	background: inherit;
	color: #a8a8a8;
}

#copy a:hover {
	background: inherit;
	color: blue;
}

/* Clouds */

#cloud {
	padding: 10px 120px 10px 120px;
	line-height: 3em;
	text-align: center;
}
#cloud a { padding: 4px; color: #956411; }
#cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

/* Div for round corners. */

.content-right, .footer-right {
	width: 16px;
	color: white;
	background-color: #333333;
}
.content-right {
	background: url(images/css/content-tr.png) no-repeat top right;
	height: 16px;
	right: 50px;
	top: 82px;
	position: absolute;
}

.footer-right {
	background: url(images/css/footer-br.png) no-repeat bottom right;
	height: 20px;
	float: right;
}

/* General HTML entities for  content. */

h1 {
	margin: 0px 0px 0px 16px;
}

h2 {
	margin: 12px 0;
	color: #484B7C;
	background: white;
}

h3 {
	font-weight: bold;
	color: #6c0023;
	background: white;
}

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

pre {
	padding: 5px;
	color: black;
	background: #e1e0b0;
}
pre.script {
	padding: 10px;
	color: black;
	background: #e8e8e8;
	border: 1px inset #333333;
}

code {
	font-size: 12px;
	color: #669900;
	background: transparent;
}

li {
	line-height: 1.4em;
}

hr {
	border: 0pt none;
}
